LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "led_o" SITE "P11";
IOBUF PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "tx_o" SITE "J14";
IOBUF PORT "tx_o" IO_TYPE=LVCMOS33;

LOCATE COMP "rx_i" SITE "F12";
IOBUF PORT "rx_i" IO_TYPE=LVCMOS33;

